language: python
python:
 - "2.6"
 - "2.7"
 - "3.2"
 - "3.3"
 - "3.4"
install: 
 - "pip install ."
 - "pip install pytest --use-mirrors"
 - "pip install coverage coveralls"
script: coverage run setup.py test
after_success:
 - coveralls
